
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 5px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: black;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.sky-fade {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  animation:sky-fade 4s infinite;
}

@keyframes sky-fade {
  0% {opacity: 20%;}
  50% {opacity: 0%;}
  98% {opacity: 100%;}
}

.circle {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: lightblue;
  border-radius: 50%;
  overflow: hidden;
}

.sand {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 200px;
  border-radius: 0 0 150px 150px;
  background-color: rgb(227, 203, 96); 
  z-index: 0;
}

.sun {
  top: 15px;
  left: 76px;
  border-radius: 50%;
  position: absolute;
  height: 35px;
  width: 35px;
  background-color: yellow;
  animation: sun 4s infinite;
  transform-origin: 54% 417%;
}

@keyframes sun { 
  0%   {transform: rotate(-70deg);}
  25%  {transform: rotate(-28deg);}
  100% {transform: rotate(70deg);}
}

.triangle-body {
position: relative;
width: 75px;
height: 75px;
transform-style: preserve-3d;
}

.triangle {
position: absolute;
top: 30px;
left: 24px;
width: 100%;
height: 100%;
transform-style: preserve-3d;
}


.triangle-side {
position: absolute;
top: 43px;
left: 23px;
height: 57px;
width: 116px;
background-color: white;
clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
transform-origin: bottom;
animation: triangle-side 4s infinite;

}

@keyframes triangle-side {
  0%  {background-color: white;}
  25% {background-color: white;}
  40% {background-color: white;}
  60% {background-color: lightgrey;}
  100%{background-color: lightgrey;}
}

.triangle-side-two {
  position: absolute;
  top: 43px;
  left: 81px;
  height: 57px;
  width: 58px;
  background-color: white;
  clip-path: polygon(30% 100%, 100% 100%, 0% 0%);
  transform-origin: right;
  animation: triangle-side-two 4s infinite;
  }
  @keyframes triangle-side-two {
    0%  {background-color: rgb(192, 190, 190);}
    25% {background-color: rgb(223, 221, 221);}
    40% {background-color: rgb(223, 221, 221);}
    60%  {background-color: white;}
    100% {background-color: white;}
  }

  .shadow-container{


  position: relative;
  right: 25px;
    height: 200px;
    width: 200px;
  }

  .shadow {
    position: absolute;
    /* left: 48px; */
    top: 100px;
    height: 100px;
    width: 100%;
    background-color: rgb(178, 159, 75);
    clip-path: polygon(21% 0, 83% 0, 100% 0, 100% 9%);
    animation: shadow 4s cubic-bezier(.4,0,.49,1) infinite;
    
   
  }

  @keyframes shadow {
    0%   {clip-path: polygon(25% 0, 82% 0, 100% 0, 100% 9%);}
    25%  {clip-path: polygon(25% 0%, 82% 0%, 100% 23%, 100% 37%);}
    40% {clip-path: polygon(25% 0%, 82% 0%, 45% 28%, 44% 26%);}
    75% {clip-path: polygon(25% 0%, 82% 0%, 0% 40%, 0% 41%);}
    95% {clip-path: polygon(25% 0%, 82% 0%, 0 11%, 0 5%);}
    100% {clip-path: polygon(25% 0%, 82% 0%, 0 7%, 0 2%);}
    
    
  }