@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);


.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: rgb(32, 216, 173);
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.menu-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  transition: all .5 ease-in-out;

}

.menu {
  width: 75px;
  height: 8px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}

.menu::before,
.menu::after {
  content: '';
  position: absolute;
  width: 75px;
  height: 8px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}

.menu::before {
  transform: translateY(-16px);
}

.menu::after {
  transform: translateY(16px);
}

/* animation */

.menu-container.open .menu{
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-container.open .menu::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-container.open .menu::after {
  transform: rotate(-45deg) translate(35px, 35px);
}